<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Set bean. Write bean name and below packageName.className-->
    <bean id="musicBean" 
        class="ru.kuznetsov.springtest.RockMusic">
    </bean>
    
    <!--Here is dependency injection-->
    <!--Set bean with parameter for constructor. Use another bean as parameter-->
    <bean id="musicPlayer" 
        class="ru.kuznetsov.springtest.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>
    

</beans>